.profilePic {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 600px;
  width: 550px;
  margin-top: 0px;
}
.profileContainer {
  display: flex;
  margin: 10px;
}
@media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
}