.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBttns a {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 0.5px #2b2eff;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #6495ed;
}

.paginationActive a {
  color: white;
  background-color: #6495ed;
}


